.row.img-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding: 100px 0;
	
}
.site-title{
	color: #fff;
}

.site-slogan{
	color: #fff;
}