<!-- wp:template-part {"slug":"header"} /-->
<div class="container">
  <article class="wp-block-post">
    <!-- wp:post-title /-->
    <!-- wp:post-featured-image {"aspectRatio":"1","width":"200px","height":"200px","scale":"contain","align":"center"} /-->
    <!-- wp:post-content /-->
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
      <p>Специализация</p>
      <!-- /wp:paragraph -->

      <!-- wp:mfb/meta-field-block {"fieldType":"rest_field","fieldName":"hairdresser","fieldSettings":{},"hideEmpty":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
      <p>Стаж</p>
      <!-- /wp:paragraph -->

      <!-- wp:mfb/meta-field-block {"fieldType":"rest_field","fieldName":"experience","fieldSettings":{},"tagName":"span","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->
  </article>
</div>
<!-- wp:template-part {"slug":"footer"} /-->